# R and RStudio
*.Rhistory
*.Rdata
*.Rproj.user/
*.Rout

# LaTex
*.gz
*.pdf
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.dvi
*.ps
*.eps

# BibTex
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

#Other Latex
*.fdb_latexmk
*.synctex.gz
*.pdfsync

# MAC
.DS_Store
*.swp
*~
*(Autosaved).rtfd/
Backup[ ]of[ ]*.pages/
Backup[ ]of[ ]*.key/
Backup[ ]of[ ]*.numbers/
